bidict
Brotli
cffi
click
colorama
Flask
Flask-Compress
Flask-SocketIO
gevent
gevent-websocket
greenlet
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
pycparser
python-dateutil
python-engineio
python-socketio
pytz
six
Werkzeug
zope.event
zope.interface
