bidict
Brotli
cffi
click
colorama
Flask
Flask-Compress
Flask-SocketIO
xlrd==1.2.0
gevent
gevent-websocket
greenlet
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
openpyxl
pycparser
python-dateutil
python-engineio
python-socketio
pytz
six
Werkzeug
zope.event
zope.interface
