<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/inputs.css">
    <link rel="stylesheet" href="/static/votingform.css">
    <link rel="stylesheet" href="/static/radio.css">
    <script src="/static/bootstrap.bundle.min.js"></script>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/socket.js"></script>
    <script src="/static/jquery.steps.js"></script>
    <title>Document</title>
</head>

<body>
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
        }
        body{ 
            background-image: url("/static/1.png");
            /* background: no-repeat; */
            /* opacity: 0.5; */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        /* Center the loader */
        #loader {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 120px;
            height: 120px;
            margin: -76px 0 0 -76px;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        /* Add animation to "page content" */
        .animate-bottom {
            position: relative;
            -webkit-animation-name: animatebottom;
            -webkit-animation-duration: 1s;
            animation-name: animatebottom;
            animation-duration: 1s
        }

        @-webkit-keyframes animatebottom {
            from {
                bottom: -100px;
                opacity: 0
            }

            to {
                bottom: 0px;
                opacity: 1
            }
        }

        @keyframes animatebottom {
            from {
                bottom: -100px;
                opacity: 0
            }

            to {
                bottom: 0;
                opacity: 1
            }
        }

        #myDiv {
            height: 100%;
            width: 100%;
            /* background-color: #bb3030; */
        }

        .textt {
            padding-top: 2%;
        }

        .verify {
            display: none;
        }

        .voting {
            display: none;
        }
    </style>
    <div id="loader" style="display: none;"></div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Press F11 Button</h5>
                </div>
                <div class="modal-body">
                    Please click F11 Button To Continue Voting
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="toggleFullScreen()">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myDiv">
        <center>
            <div class="login" id="login" style="display: block;">
                <div class="textt">
                    <h2>Login</h2>
                    <hr>
                </div>

                <div class="loogin">
                    <form id="login-form">
                        <p style="color: green;" id="Error"></p>
                        <input type="reset" value="Reset" style="display: none;" id="login-reset">
                        <label for="adnumber">Addmisson Number : </label>
                        <input type="number" name="adnumber" id="adnumber" required style="width: 15%;"><br>
                        <div class="house" style="padding-top: 1%">
                            <label for="house">House :</label>
                            <select name="house" id="house" required>
                                <option value="WINTER">WINTER</option>
                                <option value="SUMMER">SUMMER</option>
                                <option value="SPRING">SPRING</option>
                            </select>
                            <br>
                        </div>
                        <button class="btn btn-success" style="margin-top: 1%;">Start Voting</button>
                    </form>
                </div>
        </center>

        <div class="verify" id="verify" style="display: none;">
            <center>
                <div class="top">
                    <h3 style="padding-top: 2%;">
                        Verify:
                        <hr>
                    </h3>
                </div>
                <div class="details" style="color: black;">
                    <p>Is It You?</p>
                    <p id="verify-name">Name: </p>
                    <p id="verify-adnumber">Addmisson Number: </p>
                    <p id="verify-STD">STD: </p>
                    <p id="verify-House">House: </p>
                </div>
                <div class="verify-buttons">
                    <button class="btn btn-danger" id="verify-no">No</button> <button class="btn btn-success"
                        style="margin-left: 2%;" id="verify-yes">Yes</button>
                </div>
            </center>
        </div>
        <div class="voting" style="display: none;" id="voting">
            <form id="regForm">
                <input type="reset" value="Reset" style="display: none;" id="form-reset">
                <h1>Vote!</h1>
                <hr>

                <!-- One "tab" for each step in the form: -->

                <!-- <div class="tab">School Captain:
                    <p style="color: red;" id="Error" class="error"></p>
                    <hr>
                    <center>
                        <div style="float: left;">
                            <p style="font-size: medium; margin-bottom: 0%;">Name:</p>
                            <p style="font-size: medium; margin-bottom: 0%;">STD:</p>
                            <p style="font-size: medium; margin-bottom: 0%;">House:</p>
                        </div>
                        <img src="/static/pics/3BlB68.jpeg" alt="bruh" style="text-align: center;" height="150px">
                        <div class="inprad">
                            <label class="rad-label">
                                <input type="radio" class="rad-input" name="rad">
                                <div class="rad-design"></div>
                                <div class="rad-text">Vote</div>
                            </label>
                        </div>

                    </center>

                    <hr>
                    <center>
                        <div style="float: left;">
                            <p style="font-size: medium; margin-bottom: 0%;">Name:</p>
                            <p style="font-size: medium; margin-bottom: 0%;">STD:</p>
                            <p style="font-size: medium; margin-bottom: 0%;">House:</p>
                        </div>
                        <img src="/static/pics/3BlB68.jpeg" alt="bruh" style="text-align: center;" height="150px">
                        <div class="inprad">
                            <label class="rad-label">
                                <input type="radio" class="rad-input" name="rad">
                                <div class="rad-design"></div>
                                <div class="rad-text">Vote</div>
                            </label>
                        </div>

                    </center>

                    <hr>

                </div> -->
                <div class="tb-grp">

                </div>
                <div style="overflow:auto;">
                    <div style="float:right;">
                        <button type="button" id="prevBtn" onclick="nextPrev(-1)"
                            class="btn btn-primary">Previous</button>
                        <button type="button" id="nextBtn" onclick="nextPrev(1)" class="btn btn-primary">Next</button>
                    </div>
                </div>

                <!-- Circles which indicates the steps of the form: -->
                <div style="text-align:center;margin-top:40px;" id="step-indi">
                    <!-- <span class="step"></span> -->
                </div>

            </form>
        </div>
    </div>
    </div>
    <script>
        var socket = io();
        var modal = new bootstrap.Modal(document.getElementById("staticBackdrop"));
        var errors = document.getElementById('Error');
        var wcs_voter = [];
        var voter_info = [];
        var wcs_pos = {};
        var data;
        function keepload() {
            document.getElementById("loader").style.display = "block";
            document.getElementById("myDiv").style.display = "none";
        }


        function stopload() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("myDiv").style.display = "block";
        }

        function findCommonElements3(arr1, arr2) {
            return arr1.some(item => arr2.includes(item))
        }

        function createposwithcad(data) {
            for (let o = 0; o < data.pos.length; o++) {
                var dataa = ``;
                for (let q = 0; q < data.cad.length; q++) {
                    if (data.cad[q][5] == data.pos[o][0]) {
                        console.log(data.cad[q])
                        dataa += `
                        <center>
                        <div style="float: left;">
                            <p style="font-size: medium; margin-bottom: 0%;">Name: ${data.cad[q][1]}</p>
                            <p style="font-size: medium; margin-bottom: 0%;">STD: ${data.cad[q][2]}</p>
                            <p style="font-size: medium; margin-bottom: 0%;">House: ${data.cad[q][3]}</p>
                            <p style="font-size: medium; margin-bottom: 0%;">Standing For: ${data.pos[o][1]}</p>
                        </div>
                        <img src="/static/pics/${data.cad[q][4]}" onclick="welp(this)" alt="bruh" style="text-align: center;" height="150px" data-value="${data.cad[q][0]}">
                        <div class="inprad" onclick="window.scrollBy(0,999999999)">
                            <label class="rad-label">
                                <input type="radio" class="rad-input" name="${data.pos[o][0]}" value="${data.cad[q][0]}">
                                <div class="rad-design"></div>
                                <div class="rad-text">Vote</div>
                            </label>
                        </div>

                    </center>

                    <hr>`;
                    }
                }
                var ch = `<div class="tab">${data.pos[o][1]}:
                    <p style="color: red;" id="Error" class="error"></p>
                    <hr>
                    ${dataa}
                    </div>
                    `
                // console.log(ch)
                $('.tb-grp').append(ch);
                $('#step-indi').append('<span class="step"></span>');
                showTab(currentTab);
            }
        }

        socket.on('cad-with-pos', function (dataaa) {
            console.log(dataaa);
            data = dataaa;
        });
        var modal_open = false;
        function toggleFullScreen() {
            modal.hide();
            
        }

        document.getElementById('login-form').onsubmit = function () {
            socket.emit('req-info', { 'adnumber': $('#adnumber').val(), 'house': $('#house').val() });
            keepload();
            return false;
        };

        socket.on('send-info', function (data) {
            stopload();
            if (data.info == null) {
                errors.innerHTML = 'ERROR: Please Enter Correct Crdentials'
                return;
            }
            if (data.info[4] == 1) {
                errors.innerHTML = 'ERROR: That User Is Already Voted'
                return;
            }
            errors.innerHTML = '';
            var login = document.getElementById('login');
            var verify = document.getElementById('verify');
            login.style.display = 'none';
            verify.style.display = 'block';
            var verify_name = document.getElementById('verify-name');
            var verify_adnum = document.getElementById('verify-adnumber');
            var verify_std = document.getElementById('verify-STD');
            var verify_house = document.getElementById('verify-House');
            voter_info = data.info;
            verify_name.innerHTML = "Name: " + data.info[1];
            verify_adnum.innerHTML = "Addmisson Number: " + data.info[0];
            verify_std.innerHTML = "STD: " + data.info[2];
            verify_house.innerHTML = "House: " + data.info[3];

        });

        socket.on('voted-complete', function(data){
            stopload();
            if (data.voted) {
                errors.innerHTML = `SUCCESS: ${voter_info[1]} Has Voted`;
                voter_info = [];
                setTimeout(function () {
                    errors.innerHTML = "";
                }, 5000)
                
            }else{
                console.log(data.error)
                errors.innerHTML = `Failed: An error occurred while trying to register ${voter_info[1]}'s selected votes.`;
                voter_info = [];
                setTimeout(function () {
                    errors.innerHTML = "";
                }, 5000)
                
            }
            
        })

        $('#verify-no').on('click', function () {
            var login = document.getElementById('login');
            var verify = document.getElementById('verify');
            login.style.display = 'block';
            verify.style.display = 'none';
            errors.innerHTML = "";
            wcs_pos = {};
            voter_info = [];
            wcs_voter = [];
            $('#adnumber').val("");
        });

        $('#verify-yes').on('click', function () {
            var login = document.getElementById('login');
            var verify = document.getElementById('verify');
            login.style.display = 'none';
            verify.style.display = 'none';
            var gg = { "EVERYONE": "00", "3": "01", "4": "02", "5": "03", "6": "04", "7": "05", "8": "06", "9": "07", "10": "08", "11": "09", "12": "10", "WINTER": "11", "SUMMER": "12", "SPRING": "13", "WINTER 3": "14", "WINTER 4": "15", "WINTER 5": "16", "WINTER 6": "17", "WINTER 7": "18", "WINTER 8": "19", "WINTER 9": "20", "WINTER 10": "21", "WINTER 11": "22", "WINTER 12": "23", "SUMMER 3": "24", "SUMMER 4": "25", "SUMMER 5": "26", "SUMMER 6": "27", "SUMMER 7": "28", "SUMMER 8": "29", "SUMMER 9": "30", "SUMMER 10": "31", "SUMMER 11": "32", "SUMMER 12": "33", "SPRING 3": "34", "SPRING 4": "35", "SPRING 5": "36", "SPRING 6": "37", "SPRING 7": "38", "SPRING 8": "39", "SPRING 9": "40", "SPRING 10": "41", "SPRING 11": "42", "SPRING 12": "43" };
            wcs_voter.push("00")
            wcs_voter.push(`${gg[voter_info[2]]}`)
            wcs_voter.push(`${gg[voter_info[3]]}`)
            wcs_voter.push(`${gg[`${voter_info[3]} ${voter_info[2]}`]}`)
            console.log(wcs_voter)
            for (let u = 0; u < data.pos.length; u++) {
                const element = data.pos[u];
                wcs_pos[element[1]] = element[2].match(/.{1,2}/g);
            }
            var vis_pos = {}
            var the_heck = {};
            var inofpos = 0;
            var inofcad = 0;
            the_heck['pos'] = [];
            the_heck['cad'] = [];
            for (let u = 0; u < data.pos.length; u++) {
                const element = data.pos[u];
                var dam = wcs_pos[element[1]];
                if (findCommonElements3(wcs_voter, dam)) {
                    // vis_pos[u] = element;
                    the_heck['pos'][inofpos] = element;
                    inofpos++;
                    for (let i = 0; i < data.cad.length; i++) {
                        const ea = data.cad[i];
                        if (ea[5] == element[0]) {
                            the_heck['cad'][inofcad] = ea;
                            inofcad++;
                        }
                    }
                }
            }
            // wcs_pos = data.pos[2].match(/.{1,2}/g);
            console.log(the_heck)
            createposwithcad(the_heck)
            $('.voting').css('display', 'block')
        });

        var currentTab = 0; // Current tab is set to be the first tab (0) // Display the current tab

        function showTab(n) {
            // This function will display the specified tab of the form ...
            var x = document.getElementsByClassName("tab");
            x[n].style.display = "block";
            // ... and fix the Previous/Next buttons:
            if (n == 0) {
                document.getElementById("prevBtn").style.display = "none";
            } else {
                document.getElementById("prevBtn").style.display = "inline";
            }
            if (n == (x.length - 1)) {
                document.getElementById("nextBtn").innerHTML = "Submit";
            } else {
                document.getElementById("nextBtn").innerHTML = "Next";
            }
            // ... and run a function that displays the correct step indicator:
            fixStepIndicator(n)
        }

        function nextPrev(n) {
            window.scrollBy(0, -999999999)
            // This function will figure out which tab to display
            var x = document.getElementsByClassName("tab");
            // Exit the function if any field in the current tab is invalid:
            if (n == 1 && !validateForm()) return false;
            // Hide the current tab:
            var a = x[currentTab].getElementsByClassName('error')[0];
            a.innerHTML = "";
            x[currentTab].style.display = "none";
            // Increase or decrease the current tab by 1:
            currentTab = currentTab + n;
            // if you have reached the end of the form... :
            if (currentTab >= x.length) {
                //...the form gets submitted:
                // document.getElementById("regForm").submit();
                var login = document.getElementById('login');
                var verify = document.getElementById('verify');
                var voting = document.getElementById('voting');
                wcs_voter = [];
                wcs_pos = {};
                login.style.display = 'block';
                verify.style.display = 'none';
                voting.style.display = 'none';
                currentTab = 0;
                showTab(currentTab);
                fixStepIndicator(currentTab);
                var data = $('#regForm').serializeArray().reduce(function (obj, item) {
                    obj[item.name] = item.value;
                    return obj;
                }, {});
                new_data = {
                    voting_data: data,
                    voter_data: voter_info
                }
                socket.emit('voted', new_data);
                // console.log(data)
                keepload();
                $('#regForm').html(`<form id="regForm">
                <input type="reset" value="Reset" style="display: none;" id="form-reset">
                <h1>Vote!</h1>
                <hr>

                <!-- One "tab" for each step in the form: -->

                <!-- <div class="tab">School Captain:
                    <p style="color: red;" id="Error" class="error"></p>
                    <hr>
                    <center>
                        <div style="float: left;">
                            <p style="font-size: medium; margin-bottom: 0%;">Name:</p>
                            <p style="font-size: medium; margin-bottom: 0%;">STD:</p>
                            <p style="font-size: medium; margin-bottom: 0%;">House:</p>
                        </div>
                        <img src="/static/pics/3BlB68.jpeg" alt="bruh" style="text-align: center;" height="150px">
                        <div class="inprad">
                            <label class="rad-label">
                                <input type="radio" class="rad-input" name="rad">
                                <div class="rad-design"></div>
                                <div class="rad-text">Vote</div>
                            </label>
                        </div>

                    </center>

                    <hr>
                    <center>
                        <div style="float: left;">
                            <p style="font-size: medium; margin-bottom: 0%;">Name:</p>
                            <p style="font-size: medium; margin-bottom: 0%;">STD:</p>
                            <p style="font-size: medium; margin-bottom: 0%;">House:</p>
                        </div>
                        <img src="/static/pics/3BlB68.jpeg" alt="bruh" style="text-align: center;" height="150px">
                        <div class="inprad">
                            <label class="rad-label">
                                <input type="radio" class="rad-input" name="rad">
                                <div class="rad-design"></div>
                                <div class="rad-text">Vote</div>
                            </label>
                        </div>

                    </center>

                    <hr>

                </div> -->
                <div class="tb-grp">

                </div>
                <div style="overflow:auto;">
                    <div style="float:right;">
                        <button type="button" id="prevBtn" onclick="nextPrev(-1)"
                            class="btn btn-primary">Previous</button>
                        <button type="button" id="nextBtn" onclick="nextPrev(1)" class="btn btn-primary">Next</button>
                    </div>
                </div>

                <!-- Circles which indicates the steps of the form: -->
                <div style="text-align:center;margin-top:40px;" id="step-indi">
                    <!-- <span class="step"></span> -->
                </div>

            </form>`)
                $('#login-reset').click();
                return false;
            }
            // Otherwise, display the correct tab:
            showTab(currentTab);
        }

        function validateForm() {
            // This function deals with validation of the form fields
            var x, y, i, valid = true;
            x = document.getElementsByClassName("tab");
            y = x[currentTab].getElementsByTagName("input");
            // A loop that checks every input field in the current tab:
            for (i = 0; i < y.length; i++) {
                // If a field is empty...
                if (y[i].value == "") {
                    // add an "invalid" class to the field:
                    y[i].className += " invalid";
                    // and set the current valid status to false:
                    valid = false;

                }

                if (y[i].type == "radio") {
                    if (x[currentTab].querySelector("input[name='" + y[i].name + "']:checked") == null) {
                        var a = x[currentTab].getElementsByClassName('error')[0];
                        a.innerHTML = "Please Select A Candidate"
                        valid = false;
                    }
                }
            }
            // If the valid status is true, mark the step as finished and valid:
            if (valid) {
                document.getElementsByClassName("step")[currentTab].className += " finish";
            }
            return valid; // return the valid status
        }

        function fixStepIndicator(n) {
            // This function removes the "active" class of all steps...
            var i, x = document.getElementsByClassName("step");
            for (i = 0; i < x.length; i++) {
                x[i].className = x[i].className.replace(" active", "");
            }
            //... and adds the "active" class to the current step:
            x[n].className += " active";
        }

        $(document).ready(function() {
            $(document).on("contextmenu",function(){
            return false;
            }); 
            modal.show();
            document.addEventListener("keydown", function (event) {
            if (event.ctrlKey || event.metaKey) {
                event.preventDefault();
            }   
        });
        }); 

        function welp(id) {
            $(`input:radio[value="${id.getAttribute('data-value')}"]`).attr("checked", true).click();
          }
    </script>
    <script src="/static/popper.min.js"></script>
</body>

</html>